body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.column{
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.feito{
    text-decoration: line-through;
}

ul {
    width: 90px;
    
}