*{
    margin:  0px;
    padding:  0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    margin-bottom: 30px;
}

div{
    display: flex;
    flex-direction: column;
}

form{
    border: 1px solid black;
    border-radius: 25px;
    padding: 30px;
}

input{
    margin: 10px 0px;
    width: 300px;
    padding: 8px;
    border-radius: 10px;
}